{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Create Account{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">SignUp</h3>
            </div>
                
            <form method="POST">
                {% csrf_token %}
                <div class="panel-body">
           
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option1">Enter Username</label>
                                {% render_field form.username class="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option2">Password</label>
                                {% render_field form.password class="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <hr />
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}